body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(43, 43, 43);
}

#header{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
#header button{
  align-self: center;
  background-color: gold;
  border-radius: 10px;
  font-weight: bold;
  
}
.scoreboard {
  display: flex;
 border: 1px solid green;
}
.scoreboard ul {
  display: flex;
  list-style: none;
  color: white;
}

.scoreboard li {
  margin-right: 20px;
}

.help{
  height: 30px;}
#title{
  color: white;
  text-align: center;
}
/* Gameboard */
#game{
  display: flex;
  justify-content: center;
  
}
#gameboard {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#oskeyboard{
  display: flex;
  justify-content: center;
}

#keyboard {
  position: relative;
  width: 450px;
  height: 250px;
  margin-top: 40px;


}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.tile {
  width: 50px;
  height: 50px;
  border: 2px solid green;
  margin: 0 2px;
  text-align: center;
  font-size: 40px;
}
.key {
  margin-right: 5px;
  width: 60px;
  height: 60px;
}

#enter {
  width: 65px;
  height: 60px;
}

#delete {
  width: 65px;
  height: 60px;
}

#key-row-2 {
  margin-left: 20px;
  margin-right: 20px;
}

#welcome-modal {
  background-color: rgb(69, 63, 155);
  display: flex; 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  text-align: center;
  align-items: center;
}

.modal-content{
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.modal-content h3{
  text-align: left;
  color: white;
}

.modal-content h1{
  text-align: center;
  color: green;
}

.modal-content ul{
 list-style-type: None;
 text-align: left;
 color: white;
}

.modal-content span{
  font-weight: bold;
}

.modal-content #green{
  color: green;
}
.modal-content #yellow{
  color: yellow;
}
.modal-content #gray{
  color: gray;
}

#winner-restart, #loser-restart button{
  width: 50px;
  align-self: center;
  background-color: green;
  border-radius: 10%;
  font-weight: bold;
 
}
#winner-restart,
#loser-restart {
  display: none;
  justify-content: center;
}


